If TLS, use raw public keys

TLS 1.2 using RAW PUBLIC KEYS:   RFC 7250
TLS 1.3 mandates the RawPublicKey kind of certificate even this without extension:
    https://tools.ietf.org/html/rfc8446#section-4.4.2

There is also `dh_anon` and `ecdh_anon`
There is also PSK (pre-shared keys)

Pick the right one.

Whatever is used, it should be supported by QUIC so that it doesn't impede a future transport mechanism over QUIC.

OpenSSL 3.2 added support for RFC 7250 Raw Public Keys around Oct 2023.  This support isn't widespread.

It is not clear if QUIC implementations allow this usage.  RFC 9001 section 4.4 says clients must authenticate the identity of the server, but doesn't give specifics. Raw public keys can be authenticated as such, but QUIC implementations may not have such options coded.

TLS 1.3 RFC 8446 specifically includes RawPublicKey (enum=2), so I think it should work.